{% extends 'base.html' %}
{% block content %}
	<header class="main-header product-header">
		<div class="wrapper">
			<div class="main-header__title none">
				<p uk-icon="icon: search; ratio: 1.4"></p>
				<p>Все Что Угодно</p>
			</div>
		</div>
	</header>

	<section class="info-section">
		<div class="wrapper">
			{% if category != None %}
				<h2 class="info-section__title">{{ category.name }}</h2>
			{% endif %}
			<div class="info-section__categories">
				<button class="info-section-categories__button">Категории</button>
				<div class="info-section-categories__menu" uk-dropdown="mode: click">
               		<a href="{% url 'products_url' %}" class="info-section-categories-menu__item">
						Все товары
					</a>
					{% for category in categories %}
						<a href="{{ category.get_absolute_url }}" class="info-section-categories-menu__item">
							{{ category.name }}
						</a>
					{% endfor %}
				</div>
		  	</div>
			{% if category == None %}
				СЬЕБАЛСЯ
			{% else %}
				<div class="info-section-list info-section-list-product">
					{% for product in products %}
						<div class="info-section-list__item">
							<p class="info-section-list-item__title">{{ product.name }}</p>

							<div class="info-section-list-item__container">
								<div class="info-section-list-item-container__img">
									<img src="{{ product.photo.url }}" alt="Product">
								</div>

								<div class="info-section-list-item-container__info">
									<p class="info-section-list-item-container-info__price">
										{{ product.selling_price }}
									</p>

									<p class="info-section-list-item-container-info__desc">
										{{ product.description|striptags|truncatechars:150 }}
									</p>

									<a href="{{ product.get_absolute_url }}" class="info-section-list-item-container-info__more">
										Подробнее <span uk-icon="triangle-right"></span>
							 		</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</section>
{% endblock content %}